*.zip
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/34/008291c1c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/35/5005ae49c351001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/35/80678bc1c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/3c/3054289cc251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/45/10388fc1c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/8/a07cd2d6c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/af/00501cc8c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/af/b08c1bc8c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/b3/209e1cc8c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/d3/60ab6be5c251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/dd/301ca04cc351001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/df/00064647c351001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.history/e5/1073849bc251001116b7eb1191b35b5e
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/projectpl/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/projectpl/.indexes/e4/2b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/projectpl/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/projectpl/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/projectpl/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1069209127.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/3395780449.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/projectpl/2026/5/21/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/projectpl/2026/5/21/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.1.20240411-1122.xml
.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/version.ini
projectpl/.classpath
projectpl/.project
projectpl/.settings/org.eclipse.core.resources.prefs
projectpl/.settings/org.eclipse.jdt.core.prefs
projectpl/bin/module-info.class
projectpl/bin/projectpl/ItemType.class
projectpl/bin/projectpl/Product.class
projectpl/bin/projectpl/TestProduct.class
projectpl/src/module-info.java
